.vs/config/applicationhost.config
.vs/MediaLibrary/v14/.suo
Achive/bin/
Achive/obj/
ComicsDB/bin/
ComicsDB/obj/
packages/
*.dbmdl
ComicFileUploader/bin
ComicFileUploader/obj
ComicFileUploaderApp/bin
ComicFileUploaderApp/obj
